{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="main-container">
    <!-- 1. HotInfo -->
    <div class="temp-box box-one">
        <div style="text-align:center">
            <p style="font-size:30px"><b>영화, 드라마와 유사한 공연</b></p>
        </div>
        <div class="row">
            {% for info in hot %}
            <div class="col-sm-2" id="{{info._id}}">
                <div style=" cursor: pointer;" onclick="location.href='{{info.url}}';">
                    <div style="text-align : center;">
                        <!-- 사용자 지정 이미지가 없을 경우 -->
                        {% if info['image']=='nan' %}
                        <img src="{{ url_for('static', filename='no_image.png')}}" alt="기본이미지"
                                            class="radius_img" style="width:180px; height:270px;">
                        <!-- 사용자 지정 이미지가 있을 경우 -->
                        {% else %}
                        <img src="{{info['image']}}" class="radius_img" style="width:180px; height:270px;"/>
                        {% endif %}
                    </div>
                    <div style="width:180px; height:10px;"></div>
                    <div style="text-align:center; width:180px; height:40px;">
                        <p><b>{{info['title']}}</b></p>
                    </div>
                    <div style="position:relative; width:180px; height:25px;"> 
                        <p style="text-align:right; font-size:85%; color:#999">{{info['date']}}</p>
                    </div>
                </div>
                <!-- 로그인을 한 경우, 좋아요 버튼이 보이도록 -->
                {% if user_info %}
                <div class="level-left" style="text-align:right;">
                    <!-- 좋아요를 누르면 toggle_like 함수가 실행된다. -->
                    <!-- toggle like 함수는 게시글의 id와, 어떤 이모티콘을 눌렀는지 type에 대한 정보를 인자로 제공한다. -->
                    <a class="level-item is-sparta" aria-label="heart" style="cursor: pointer;" onclick="toggle_like_main_hot('{{info._id}}', 'heart')">
                        <span class="icon is-small">
                            <!-- 사용자가 좋아요를 누른 경우 -->
                            {% if info.heart_by_me == True %}
                            <i class="fa fa-heart" style="color:red" aria-hidden="true"></i>
                            <!-- 사용자가 좋아요를 누르지 않은 경우 -->
                            {% else %}
                            <i class="fa fa-heart-o" style="color:red" aria-hidden="true"></i>
                            {% endif %}
                        </span>
                        <span class="like-num" style="color:black">{{info.count_heart}}</span>
                    </a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div style="width:180px; height:5px;"></div>
        <div class="custom-panel_btn__MCCL4">
            <button class="custom-button_btn__vsWav" onclick="location.href='/hot'">
                영화, 드라마와 유사한 공연 전체보기
                <img alt="" src="https://tickets.interpark.com/_next/static/media/line.2a9386f0.svg" width="13" height="12" decoding="async" data-nimg="1" loading="lazy" style="color: transparent;">
            </button>
        </div>
    </div>
    <!-- 2. Keyword -->
    <div class="temp-box box-two">
        <div style="text-align:center">
            <p style="font-size:30px"><b>키워드 공연</b></p>
        </div>
    </div>
    <!-- 3. Curation -->
    <div class="temp-box box-three">
        <div style="text-align:center">
            <p style="font-size:30px"><b>큐레이션</b></p>
        </div>
    </div>
    <!-- 4. OpenInfo -->
    <div class="temp-box box-four">
        <div style="text-align:center">
            <p style="font-size:30px"><b>오픈 공연</b></p>
        </div>
        <div class="row">
            {% for info in open %}
            <div class="col-sm-2" id="{{info._id}}">
                <div style="cursor: pointer;" onclick="location.href='{{info.url}}';">
                    <div style="text-align : center;">
                        <!-- 사용자 지정 이미지가 없을 경우 -->
                        {% if info['image']=='nan' %}
                        <img src="{{ url_for('static', filename='no_image.png')}}" alt="기본이미지"
                                            class="radius_img" style="width:180px; height:270px;">
                        <!-- 사용자 지정 이미지가 있을 경우 -->
                        {% else %}
                        <img src="{{info['image']}}" class="radius_img" style="width:180px; height:270px;"/>
                        {% endif %}
                    </div>
                    <div style="width:180px; height:10px;"></div>
                    <div style="width:180px; height:75px;">
                        <p><b>{{info['title']}}</b></p>
                    </div>
                    <div style="width:180px; height:25px;">
                        <p style="text-align:right; font-size:85%; color:#999">{{info['date']}}</p>
                    </div>
                </div>
                <!-- 로그인을 한 경우, 좋아요 버튼이 보이도록 -->
                {% if user_info %}
                <div class="level-left" style="text-align:right;">
                    <!-- 좋아요를 누르면 toggle_like 함수가 실행된다. -->
                    <!-- toggle like 함수는 게시글의 id와, 어떤 이모티콘을 눌렀는지 type에 대한 정보를 인자로 제공한다. -->
                    <a class="level-item is-sparta" aria-label="heart" style="cursor: pointer;" onclick="toggle_like_main_open('{{info._id}}', 'heart')">
                        <span class="icon is-small">
                            <!-- 사용자가 좋아요를 누른 경우 -->
                            {% if info.heart_by_me == True %}
                            <i class="fa fa-heart" style="color:red" aria-hidden="true"></i>
                            <!-- 사용자가 좋아요를 누르지 않은 경우 -->
                            {% else %}
                            <i class="fa fa-heart-o" style="color:red" aria-hidden="true"></i>
                            {% endif %}
                        </span>
                        <span class="like-num" style="color:black">{{info.count_heart}}</span>
                    </a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div style="width:180px; height:5px;"></div>
        <div class="custom-panel_btn__MCCL4">
            <button class="custom-button_btn__vsWav" onclick="location.href='/open'">
                오픈공연 전체보기
                <img alt="" src="https://tickets.interpark.com/_next/static/media/line.2a9386f0.svg" width="13" height="12" decoding="async" data-nimg="1" loading="lazy" style="color: transparent;">
            </button>
        </div>
    </div>
</div>

<div class="sideBanner" style=" cursor: pointer;" onclick="location.href='/test'">
    <img src="{{ url_for('static', filename='banner.png') }}" width="100px" height="150px">
</div>

{% endblock %}