<!-- mypage.html -->
{% extends "base.html" %}

{% block title %}Mypage{% endblock %}

{% block content %}

<div class="container">
    <!-- <div class="row justify-content-center">
        <div class="col-sm-6"> -->
            <form method="GET" action="/mypage/update">
                <div class="my-container">
                    <!-- 1. 프로필 영역 -->
                    <div class="my-box my-box-one">
                        <fieldset disabled="disabled">
                            <h2 align="center">Profile</h2>
                            
                            <!-- 프로필 이미지 영역 -->
                            {% if session['image_url'] %}
                            <img src="{{ url_for('static', filename=session['image_url'])}}" alt="사용자프로필이미지"
                                class="rounded mx-auto d-block" style="width:200px; height:200px;">
                            {% else %}
                            <img src="{{ url_for('static', filename='basic_profile.png')}}" alt="기본프로필이미지"
                                class="rounded mx-auto d-block" style="width:200px; height:200px;">
                            {% endif %}
                            <!-- 기본 정보 영역 -->
                            <div class="mb-3">
                                <label for="InputEmail1" class="form-label">이메일</label>
                                <input name="email" type="email" class="form-control" id="InputEmail1"
                                    aria-describedby="emailHelp">
                            </div>

                            <div class="mb-3">
                                <label for="Nickname1" class="form-label">이름</label>
                                <input name="nickname" type="text" class="form-control" id="Nickname1">
                            </div>

                        </fieldset>
                        <button type="submit" class="btn btn-primary">정보 수정</button>
                    </div>
                    
                    <!-- 2. 선호 공연 영역 -->
                    <div class="my-box my-box-two">
                        <p style="font-size:30px">1. Pre_shows</p>
                        <div style="text-align:right">
                            <button type="button" class="extra-button" onclick="location.href='/mypage/pre_shows'">더보기</button>
                        </div>
                        <div class="row">
                            {% for info in show_all_like %}
                            <div class="col-md-3" id="{{info._id}}">
                                <div style=" cursor: pointer;" onclick="location.href='{{info.url}}';">
                                    <div style="text-align:center; width:250px; height:30px; font-size:13px">
                                        <p><b>{{info['title']}}</b></p>
                                    </div>
                                    <div style="width:250px; height:30px; font-size:10px">
                                        <p style="text-align:center">{{info['date']}}</p>
                                    </div>
                                    <div style="text-align : center;">
                                        {% if info['image']=='nan' %}
                                        <img src="{{ url_for('static', filename='no_image.png')}}" alt="기본이미지"
                                                            class="rounded mx-auto d-block" style="width:125px; height:150px;">
                                        {% else %}
                                        <img src="{{info['image']}}" class="rounded mx-auto d-block" style="width:180px; height:225px;"/>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- 3. 선호 콘텐츠 영역 -->
                    <div class="my-box my-box-four">
                        <p style="font-size:30px">2. Pre_contents</p>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="sideBanner" style=" cursor: pointer;" onclick="location.href='/test'">
    <img src="{{ url_for('static', filename='banner.png') }}">
</div>

{% endblock %}