<!-- mypage.html -->
{% extends "base.html" %}

{% block title %}Mypage{% endblock %}

{% block content %}

<div class="container">
    <!-- <div class="row justify-content-center">
        <div class="col-sm-6"> -->
            <form method="GET" action="/mypage/update">
                <div class="my-container">
                    <!-- 1. 프로필 영역 -->
                    <div class="my-box my-box-one">
                        <fieldset disabled="disabled">
                            <h2 align="center">Profile</h2>
                            
                            <!-- 프로필 이미지 영역 -->
                            {% if session['image_url'] %}
                            <img src="{{ url_for('static', filename=session['image_url'])}}" alt="사용자프로필이미지"
                                class="rounded mx-auto d-block" style="width:200px; height:200px;">
                            {% else %}
                            <img src="{{ url_for('static', filename='basic_profile.png')}}" alt="기본프로필이미지"
                                class="rounded mx-auto d-block" style="width:200px; height:200px;">
                            {% endif %}
                            <!-- 기본 정보 영역 -->
                            <div style='text-align: center;' class="mb-3">
                                <p>{{user_name}}님, 반갑습니다.</p>
                            </div>

                        </fieldset>
                        <div style='text-align: center;'>
                            <button type="submit" class="w-btn w-btn-green">정보 수정</button>
                          </div>
                    </div>
                    
                    <!-- 2. 선호 공연 영역(OpenShow) -->
                    <div class="my-box my-box-two">
                        <h2 align="center">오픈 예정</h2>
                        <!-- <p style="font-size:30px;  text-align:center;"></p> -->
                        <div class="row">
                            {% for info in show_all_like %}
                            <div class="col-md-3" id="{{info._id}}">
                                <div style=" cursor: pointer;" onclick="location.href='{{info.url}}';">
                                    <div class="info-name" style="text-align:center; height:30px; font-size:13px">
                                        <p><b>{{info['title']}}</b></p>
                                    </div>
                                    <div style="height:30px; font-size:10px">
                                        <p style="text-align:center">{{info['date']}}</p>
                                    </div>
                                    <div style="text-align : center;">
                                        {% if info['image']=='nan' %}
                                        <img src="{{ url_for('static', filename='no_image.png')}}" alt="기본이미지"
                                                            class="rounded mx-auto d-block" style="width:125px; height:150px;">
                                        {% else %}
                                        <img src="{{info['image']}}" class="rounded mx-auto d-block" style="width:180px; height:225px;"/>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- 3. 선호 공연 영역(NewShow) -->
                    <div class="my-box my-box-three">
                        <h2 align="center">현재공연중</h2>
                        <div class="row">
                            {% for info in new_all_like %}
                            <div class="col-md-3" id="{{info._id}}">
                                <div style=" cursor: pointer;" onclick="location.href='{{info.url}}';">
                                    <div class="info-name" style="text-align:center; height:30px; font-size:13px">
                                        <p><b>{{info['title']}}</b></p>
                                    </div>
                                    <div style="height:30px; font-size:10px">
                                        <p style="text-align:center">{{info['date']}}</p>
                                    </div>
                                    <div style="text-align : center;">
                                        {% if info['image']=='nan' %}
                                        <img src="{{ url_for('static', filename='no_image.png')}}" alt="기본이미지"
                                                            class="rounded mx-auto d-block" style="width:125px; height:150px;">
                                        {% else %}
                                        <img src="{{info['image']}}" class="rounded mx-auto d-block" style="width:180px; height:225px;"/>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="my-box my-box-four">
                        <div style="text-align:center">
                            <button type="button" class="w-btn w-btn-green" onclick="location.href='/mypage/pre_shows'">더보기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}