<!-- sign_in.html -->
{% extends "base.html" %}

{% block title %}SignIn{% endblock %}

{% block content %}

<div style='padding: 10px 500px 0px 500px;'>
  <form method="POST">
    <h2 align="center">Sign In</h2>
    <div class="mb-3">
      <label for="InputEmail1" class="form-label" align="center">이메일</label>
      <input name="email" type="email" class="form-control" id="InputEmail1">
    </div>

    <div class="mb-3">
      <label for="InputPassword1" class="form-label" align="center">비밀번호</label>
      <input name="password1" type="password" class="form-control" id="InputPassword1">
    </div>

    <div style='text-align: center;'>
      <button type="submit" class="btn btn-primary" style="background-color:rgb(137, 214, 20); border-color: rgb(137, 214, 20);">로그인</button>
    </div>
  </form>
</div>


{% endblock %}