<!-- sign_up.html -->
{% extends "base.html" %}
{% block title %}Title - SignUp{% endblock %}

{% block content %}
<form method="POST">
    <h2 align="center">Sign Up</h2>
    <div class="mb-3">
      <label for="InputEmail1" class="form-label">가입할 이메일</label>
      <input name="email" type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">가입할 이메일을 입력하세요</div>
    </div>

    <div class="mb-3">
      <label for="InputPassword1" class="form-label">비밀번호</label>
      <input name="password1" type="password" class="form-control" id="InputPassword1">
    </div>

    <div class="mb-3">
        <label for="InputPassword2" class="form-label">비밀번호 재확인</label>
        <input name="password2" type="password" class="form-control" id="InputPassword2">
    </div>

    <div class="mb-3">
        <label for="Name1" class="form-label">이름</label>
        <input name="name" type="text" class="form-control" id="Name1">
    </div>

    <div class="mb-3">
      <label for="Birth1" class="form-label">생년월일</label>
      <input name="birth" type="date" class="form-control" id="Birth1">
    </div>

    <div class="mb-3">
      <label for="Sex1" class="form-label">성별</label>
      <input type="radio" name="gender" value="man">남
      <input type="radio" name="gender" value="woman">여
    </div>

    <div class="mb-3">
      <label for="Tel1" class="form-label">전화번호</label>
      <input
        type="tel"
        class="form-control m-input"
        name="tel"
        id="telInput"
        required
        pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}"
        maxlength="13"
        placeholder="예) 010-1234-5678"
      />
    </div>

    <!-- 주소 -->
    <!-- JQuery 이용 -->
    <!-- https://www.thewordcracker.com/intermediate/%EC%9E%90%EB%B0%94%EC%8A%A4%ED%81%AC%EB%A6%BD%ED%8A%B8%EB%A5%BC-%EC%9D%B4%EC%9A%A9%ED%95%9C-%EC%8B%9C%EB%8F%84-%EC%8B%9C%EA%B5%B0%EA%B5%AC-%EC%9D%8D%EB%A9%B4%EB%8F%99-%EC%A3%BC%EC%86%8C/ -->
    <div class="mb-3">
      <label for="Address1" class="form-label">주소</label>
      <select id="sido">
        <option value="">시도 선택</option>
      </select>
      <select id="sigugun">
        <option value="">시군구 선택</option>
      </select>
      <select id="dong">
        <option value="">읍면동 선택</option>
      </select>
    </div>

    <div class="mb-3 form-check">
      <input name="checked" type="checkbox" class="form-check-input" id="Check1">
      <label class="form-check-label" for="Check1">위 내용을 확인했습니다.</label>
    </div>

    <button type="submit" class="btn btn-primary">제출</button>
  </form>
{% endblock %}