/*폰트 : "SPoqaHanSansNeo"*/

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

html, body {margin: 0 auto; padding: 0px;}

/* 레이아웃 */
body{
  max-width: 100%;
  width: 1200px;
  position: relative;
  right: 180px;
}

main {
  margin: auto;
  /* background: #ffffff; */
  /* background-color: aqua; */
  /* background-color: aqua; */
  width: 1200px;
;
  /* overflow-x: hidden ; */
}
.main-container {
  margin: 0 125px 0 25px;  
  width: 1200px;
  margin: auto;
  margin: auto;
  /* background-color:aquamarine; */


  grid-template-columns: 1200px; /* 각 행(세로줄)의 길이 */
  grid-template-rows: repeat(4, 550px);/* 각 열(가로줄)의 길이, 400px로 3등분 */
  gap: 10px; /* 자식요소간의 간격 - 각 콘텐츠간 간격 */
  
}
.hot-container {
  width: 1200px;
  margin: auto;

  margin: auto;

  /* background-color:lightseagreen; */
  grid-template-columns: 1200px;
  grid-template-rows: 550px;
  gap: 10px; 
}
/*hot.html 유사 공연상세목록 */
.hot-one {
  grid-column: 1 / 3;
  grid-row:1 / 1;
}


.temp-box {
  /* background: rgb(255, 255, 255); */
  width: 100%;
  /* height: 100%; */
  font-size: 15px;
  /* border: 1px solid #dee3eb; */
  text-align: center;
  width: 100%;
  /* height: 100%; */
  font-size: 15px;
  /* border: 1px solid #dee3eb; */
  text-align: center;
}
.box-one {
  /* background-color: bisque; */
  /* background-color: bisque; */
  grid-column: 1 / 3;
  grid-row:1 / 2;
  font-size: small;   
}
.box-two {
  grid-column: 1 / 3;
  grid-row:2 / 3;
  font-size: small;
}
.box-three {
  grid-column: 1 / 3;
  grid-row:3 / 4;
}
.box-four {
  grid-column: 1 / 3;
  grid-row:4 / 5;
  font-size: small;
}



/* 유사공연 */
.cont_area{ margin-top:5px;}
/* .col-sm-2{display: flex;height: 240px; margin-right: 20px;} */
.show-info{margin: auto;}

.my-underline{
  /* text-decoration: rgb(177, 203, 69) underline; */
  background-color: rgba(177, 203, 69, 0.3);  
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* 공연이름 텍스트 두줄 이상일 시, 생략기호로 표시 */
.info-name{
  position: relative;
  overflow : hidden;
  text-overflow : ellipsis;
  height : 28px; 
  /* 대신 height를 설정해준다. 텍스트 맞춰 height가 1줄인 경우를 생각하자.*/
  word-wrap : break-word; 
  display : -webkit-box;
  -webkit-line-clamp : 1; 
  /* 줄 개수를 설정한다. 만약 2줄이상이라면 height와 해당 값을 수정한다. */
  -webkit-box-orient: vertical; 
  padding-top: 8px;
  padding-bottom: 10px;
}
 

.open-name{
  width: 50px;
  display: -webkit-box;
  word-wrap : break-word;
  -webkit-line-clamp : 1;  
  text-overflow: ellipsis;
  white-space: nowrap;
  /* width: 5px;  */
  overflow : hidden;
  line-height: 15px;
  height: 20px;
  /* 대신 height를 설정해준다. 텍스트 크기에 맞춰 height가 1줄인 경우를 생각하자.*/

  /* 줄 개수를 설정한다. 만약 2줄이상이라면 height와 해당 값을 수정한다. */
  -webkit-box-orient: vertical; 
  padding-top: 8px;
  padding-bottom: 5px;

}

.open-date{
  position:relative;
  width:180px;
  height:5px;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* 이미지 둥글게 */
.radius_img {
  border-radius: 10%;
}

/* 네비게이션 */
.nav-link {
  color:black;
  font-weight:bold;
}

/* 공연 더보기 버튼 */
.custom-button_btn__vsWav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  gap: 0.4rem;
  border: 1px solid #ddd;
  border-radius: 3.2rem;
  background-color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 150%;
  text-align: center;
  color: #000;
  cursor: pointer;
}
.custom-panel_btn__MCCL4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
  width: 100%;
}
/* keyword */
.tab_menu1{position:relative; text-align: center; display:table; margin-left:auto; margin-right:auto;}
.tab_menu1 .list{display: inline-block; list-style: none; padding: 0;}
.tab_menu1 .list li{float:left; margin-right:14px;}
.tab_menu1 .list li.is_on .btn{font-weight:bold; color:green;}
.tab_menu1 .list .btn{font-size:17px;}
.tab_menu1 .cont_area{margin-top:5px;}
.tab_menu1 .cont_area .cont{display:none; background:#fff; color:#000000; text-align:center;}

/* curation */
.tab_menu2{position:relative; text-align: center; display:table; margin-left:auto; margin-right:auto;}
.tab_menu2 .list{display: inline-block; list-style: none; padding: 0;}
.tab_menu2 .list li{float:left; margin-right:14px;}
.tab_menu2 .list li.is_on .btn{font-weight:bold; color:green;}
.tab_menu2 .list .btn{font-size:17px;}
.tab_menu2 .cont_area{margin-top:5px;}
.tab_menu2 .cont_area .cont{display:none; background:#fff; color:#000000; text-align:center;}

.newsletter-list {
  display: flex;
  list-style: none;
  /* padding: 0; */
  /* justify-content: space-between; */
}
.newsletter-list li {
  margin: 0px 20px 0px 0px;
}
.newsletter-thumbnail {
  width: 280px; /* 썸네일 이미지 너비 조절 */
  height: 190px; /* 이미지 높이 자동 조절 */
  cursor: pointer; /* 클릭 가능한 커서 설정 */
  border-radius: 10%;
}
.newsletter-thumbnail-except {
  width: 330px; /* 썸네일 이미지 너비 조절 */
  height: 190px; /* 이미지 높이 자동 조절 */
  cursor: pointer; /* 클릭 가능한 커서 설정 */
  border-radius: 10%;
}


/* 페이지네이션 */
.pagination {
  justify-content: center;
}
.pagination a {text-decoration: none; color: inherit;}
.page-item .page-link:hover { color: #6c757d; }
.page-item.active .page-link { background-color: #6c757d; border-color: #6c757d; }
.page-item.active .page-link:hover { color: white; }